@model web_API9.Models.Application.Project.Project
@{
    ViewData["Title"] = "ShowProject";
}

    <div class="text-left">

        <div class="row">
            <div class="col-3">
                <h1 class="display-4">Project</h1>
            </div>
        </div>

        <form asp-controller="Project" asp-action="AddProject" method="get">
            <div class="row">
                <div class="col-3"><label asp-for="Name">Project name</label></div>
                <div class="col-3"><input type="text" asp-for="Name" value="name"></div>
                <div class="col-3"><button type="submit">Add a project</button></div>
            </div>
        </form>

        <form asp-controller="Project" asp-action="DelProject" method="get">
            <div class="row">
                <div class="col-3">
                    <label asp-for="ProjectId">Project Id</label>
                </div>
                <div class="col-3">
                    <input type="text" asp-for="ProjectId" value="id">
                </div>
                <div class="col-3">
                    <button type="submit">Delete a project</button>
                </div>
            </div>
        </form>

        <form asp-controller="Project" asp-action="ShowAllProject" method="get">
            <div class="row">
                <div class="col-3">
                </div>
                <div class="col-3">
                </div>
                <div class="col-3">
                    <button type="submit">Show all projects</button>
                </div>
            </div>
        </form>

        <div class="row">
            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Back to home page</a>
        </div>

    </div>



        <!--
    <form asp-controller="Project" asp-action="AddProject" method="post">
        <br />
        <table>
            <tr>
                <td><text>Project name </text></td>
                <td><input type="text" name="name_input" value="name"></td>
                <td><button asp-controller="Project" asp-action="AddProject">Add a project</button></td>
            </tr>
            <tr>
                <td><text>Project Id </text></td>
                <td><input type="text" name="numer" value="id"></td>
                <td><button asp-controller="Project" asp-action="DelProject">Delete a project</button></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td><button asp-controller="Project" asp-action="ShowAllProject">Show all projects</button></td>
            </tr>
        </table>
        <br />
        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Back to home page</a>
    </form>-->
