@{
    ViewData["Title"] = "Database";
}

    <div class="text-left">
        <h1 class="display-4">Database</h1>
        
        <button asp-controller="Database" asp-action="Show_all_database">Show databases</button><br><br>
        <button asp-controller="Database" asp-action="Add_database">Add a database</button><input type="text" name="name_wpis"><input type="text" name="engine_wpis"><br><br>
        <button asp-controller="Database" asp-action="Del_database">Delete a database</button><input type="text" name="numer_wpis"><br><br>


        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Back to home page</a>
    </div>
