@model web_API9.Models.Application.Database.Database

@{
    ViewData["Title"] = "ShowDatabase";
}

    <div class="text-left">

        <div class="row">
            <div class="col-3">
                <h1 class="display-4">Database</h1>
            </div>
        </div>

        <form asp-controller="Database" asp-action="AddDatabase" method="get">
            <div class="row">
                <div class="col-3"><label asp-for="Name">Database name</label></div>
                <div class="col-3"><input type="text" asp-for="Name" value="name"></div>
            </div>
            <div class="row">
                <div class="col-3"><label asp-for="Engine">Database engine</label></div>
                <div class="col-3"><input type="text" asp-for="Engine" value="engine"></div>
                <div class="col-3"><button type="submit">Add a database</button></div>
            </div>
        </form>

        <form asp-controller="Database" asp-action="DelDatabase" method="get">
            <div class="row">
                <div class="col-3"><label asp-for="DatabaseId">Database Id</label></div>
                <div class="col-3"><input type="text" asp-for="DatabaseId" value="id"></div>
                <div class="col-3"><button type="submit">Delete a database</button></div>
            </div>
        </form>


        <form asp-controller="Database" asp-action="ShowAllDatabase" method="get">
            <div class="row">
                <div class="col-3">
                </div>
                <div class="col-3">
                </div>
                <div class="col-3">
                    <button type="submit">Show all databases</button>
                </div>
            </div>
        </form>

        <div class="row">
            <div class="col-3">
                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Back to home page</a>
            </div>
        </div>

    </div>


