
@model web_API9.Models.ViewModels.Show_all_databaseViewModel
@{
    ViewData["Title"] = "Show_all_database";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="text-left">
    <h1 class="display-4">Databases: </h1>
    <ul>
        @foreach (var Database in Model.Databases)
        {
            <li>@Database.DatabaseId, Database name: @Database.Name, Engine: @Database.Engine</li>


        }
    </ul>
    <form>
        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Back to home page</a>
    </form>
</div>
