@{
    ViewData["Title"] = "Show_database";
}

<div class="text-left">
    <h1 class="display-4">Database</h1>
    <form>
        <br />
        <table>
            <tr>
                <td><text>Database name </text></td>
                <td><input type="text" name="name_wpis" value="name"></td>
            </tr>
            <tr>
                <td><text>Database engine </text></td>
                <td><input type="text" name="engine_wpis" value="engine"></td>
                <td><button asp-controller="Database" asp-action="Add_database">Add a database</button></td>
            </tr>
            <tr>
                <td><text>Database Id </text></td>
                <td><input type="text" name="numer" value="id"></td>
                <td><button asp-controller="Database" asp-action="Del_database">Delete a database</button></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td><button asp-controller="Database" asp-action="Show_all_database">Show all databases</button></td>
            </tr>
        </table>
        <br />
    </form>
    <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Back to home page</a>

</div>


