@{
    ViewData["Title"] = "ShowDatabase";
}

<div class="text-left">
    <h1 class="display-4">Database</h1>
    
        <br />
        
        <form>
            <table>
                <tr>
                    <td><text>Database name </text></td>
                    <td><input type="text" name="name_input" value="name"></td>
                </tr>
                <tr>
                    <td><text>Database engine </text></td>
                    <td><input type="text" name="engine_input" value="engine"></td>
                    <td><button asp-controller="Database" asp-action="AddDatabase">Add a database</button></td>
                </tr>
            
        
            
                <tr>
                    <td><text>Database Id </text></td>
                    <td><input type="text" name="numer" value="id"></td>
                    <td><button asp-controller="Database" asp-action="DelDatabase">Delete a database</button></td>
                </tr>
           
                <tr>
                    <td></td>
                    <td></td>
                    <td><button asp-controller="Database" asp-action="ShowAllDatabase">Show all databases</button></td>
                </tr>
            </table>
        </form>
            <br />

            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Back to home page</a>

</div>


