@{
    ViewData["Title"] = "ShowUser";
}

    <div class="text-left">
        <h1 class="display-4">User</h1>

        <form>
            <br>
            <table>
                <tr>
                    <td><text>First name </text></td>
                    <td><input type="text" name="firstname_wpis" value="first name"></td>
                </tr>
                <tr>
                    <td><text>Last name </text></td>
                    <td><input type="text" name="lastname_wpis" value="last name"></td>
                </tr>
                <tr>
                    <td>Password </td>
                    <td><input type="text" name="password_wpis" value="password"></td>
                </tr>
                <tr>
                    <td>Email </td>
                    <td><input type="text" name="email_wpis" value="email"></td>
                </tr>
                <tr>
                    <td>Role </td>
                    <td><input type="text" name="rola_wpis" value="role"></td>
                    <td><button asp-controller="User" asp-action="AddUser">Add a user</button></td>
                </tr>
                <tr>
                    <td>User Id </td>
                    <td><input type="text" name="numer_wpis" value="id"></td>
                    <td><button asp-controller="User" asp-action="DelUser">Delete a user</button></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td><button asp-controller="User" asp-action="ShowAllUser">Show all users</button></td>
                </tr>
            </table>
            <br>
            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Back to home page</a>
        </form>
    </div>
