@model web_API9.Models.ViewModels.Show_all_userzViewModel
@{
    ViewData["Title"] = "Del_userz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="text-left">
    <h1 class="display-4">User removed: </h1>
    <ul>
        @foreach (var Userz in Model.Userzs)
        {
        <li>@Userz.UserzId, Name: @Userz.FullName, Email: @Userz.Email, Role: @Userz.Role</li>


        }
    </ul>
    <form>
        <a class="nav-link text-light" asp-area="" asp-controller="Userz" asp-action="Show_userz">Back</a>
    </form>
</div>
