@model web_API9.Models.ViewModels.Show_all_userzViewModel
@{
    ViewData["Title"] = "Show_all_userz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="text-left">
    <h1 class="display-4">Users: </h1>
    <ul>
        @foreach (var Userz in Model.Userzs)
        {
        <li><b>@Userz.UserzId</b>, Name: <b>@Userz.FullName</b>, Email: <b>@Userz.Email</b>, Role: <b>@Userz.Role</b></li>


        }
    </ul>
    <form>
        <a class="nav-link text-light" asp-area="" asp-controller="Userz" asp-action="Show_userz">Back</a>
    </form>
</div>
