@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-left">
        <h1 class="display-4">Hello, </h1>

        <a class="nav-link text-light" asp-area="" asp-controller="Deployment" asp-action="Deployment">Deployment</a>

        <a class="nav-link text-light" asp-area="" asp-controller="Userz" asp-action="Userz">User</a>
        <a class="nav-link text-light" asp-area="" asp-controller="Project" asp-action="Project">Project</a>
        <a class="nav-link text-light" asp-area="" asp-controller="Database" asp-action="Database">Database</a>

    </div>
