@model web_API9.Models.ViewModels.Show_all_deploymentViewModel
@{
    ViewData["Title"] = "Del_Deployment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="text-left">
    <h1 class="display-4">Deployment removed: </h1>
    <ul>
        @foreach (var Deployment in Model.Deployment_RS)
        {
        <li>@Deployment.DeploymentId, Deployment name: @Deployment.Name</li>


        }
    </ul>
    <form>
        <a class="nav-link text-light" asp-area="" asp-controller="Deployment" asp-action="Show_deployment">Back</a>
    </form>
</div>
