@model web_API9.Models.Application.Deployment.Deployment

@{
    ViewData["Title"] = "ShowDeployment";
}

<div class="text-left">

    <div class="row">
        <div class="col-3">
            <h1 class="display-4">Deployment</h1>
        </div>
    </div>

    <form asp-controller="Deployment" asp-action="AddDeployment" method="get">
        <div class="row">
            <div class="col-3"><label asp-for="Name">Name</label></div>
            <div class="col-3"><input type="text" asp-for="Name" value="name"></div>
        </div>
        <div class="row">
            <div class="col-3"><label asp-for="DeployMode">Deploy mode</label></div>
            <div class="col-3"><input type="text" asp-for="DeployMode" value="deploy mode"></div>
        </div>
        <div class="row">
            <div class="col-3"><label asp-for="PlannedTimeOfDeployment">Planned time of deployment</label></div>
            <div class="col-3"><input type="text" asp-for="PlannedTimeOfDeployment" value="2020-06-18"></div>
        </div>
        <div class="row">
            <div class="col-3"><label asp-for="TimeOfDeployment ">Time of deployment</label></div>
            <div class="col-3"><input type="text" asp-for="TimeOfDeployment " value="2020-06-19"></div>
        </div>
        <div class="row">
            <div class="col-3"><label asp-for="Details">Details</label></div>
            <div class="col-3"><input type="text" asp-for="Details" value="details"></div>
        </div>
        <div class="row">
            <div class="col-3"><label asp-for="HasBeenDeployed">Has been deployed? (true or false)</label></div>
            <div class="col-3"><input type="text" asp-for="HasBeenDeployed" value="true"></div>
        </div>
        <div class="row">
            <div class="col-3"><label asp-for="AttachedFeatureDescription">Attached feature description</label></div>
            <div class="col-3"><input type="text" asp-for="AttachedFeatureDescription" value="attached feature description"></div>
        </div>
        <div class="row">
            <div class="col-3"><label asp-for="SchemaContent">Schema content</label></div>
            <div class="col-3"><input type="text" asp-for="SchemaContent" value="schema content"></div>
        </div>
        <div class="row">
            <div class="col-3"><label asp-for="TargetDbId">Database Id</label></div>
            <div class="col-3"><input type="text" asp-for="TargetDbId" value="5ed636562f2bad0006deba6d"></div>
        </div>
        <div class="row">
            <div class="col-3"><label asp-for="SchemaCreatedByUserId">User Id</label></div>
            <div class="col-3"><input type="text" asp-for="SchemaCreatedByUserId" value="5ed77e311e77180006856a7e"></div>
        </div>
        <div class="row">
            <div class="col-3"><label asp-for="AttachedToProjectId">Project Id</label></div>
            <div class="col-3"><input type="text" asp-for="AttachedToProjectId" value="5ed757481e77180006856a7a"></div>
            <div class="col-3"><button type="submit">Add a deployment</button></div>
        </div>
    </form>

    <form asp-controller="Deployment" asp-action="DelDeployment" method="get">
        <div class="row">
            <div class="col-3"><label asp-for="DeploymentId">Deployment Id</label></div>
            <div class="col-3"><input type="text" asp-for="DeploymentId" value="id"></div>
            <div class="col-3"><button type="submit">Delete a deployment</button></div>
        </div>
    </form>


    <form asp-controller="Deployment" asp-action="ShowAllDeployment" method="get">
        <div class="row">
            <div class="col-3">
            </div>
            <div class="col-3">
            </div>
            <div class="col-3">
                <button type="submit">Show all Deployments</button>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-3">
            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Back to home page</a>
        </div>
    </div>

</div>
