@{
    ViewData["Title"] = "Show_deployment";
}

    <div class="text-left">
        <h1 class="display-4">Deployment</h1>
        <form>
            <button asp-controller="Deployment" asp-action="Show_all_deployment">Show all deployments</button><br><br>
        </form>
        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Back to home page</a>
    </div>
